In [1]:
# Notebook Used to Clean EMS Incident Dispatch Data

In [3]:
# Dependencies
import pandas as pd
import numpy as np

In [4]:
# Using API (limited number of records returned)
#r = requests.get('https://data.cityofnewyork.us/resource/76xm-jjuj.json')
#ems_dispatch_data = r.json()
#ems_df = pd.DataFrame(ems_dispatch_data)

# Importing data using CSV file
file = 'EMS_Incident_Dispatch_Data.csv'
ems_df = pd.read_csv(file)
ems_df.head()

,Unnamed: 0,DATE_TIME,CALL_TYPE,SEVERITY,RESPONSE_TIME,HELD,BORO,DISPATCH_AREA,ZIPCODE,SPECIAL_EVENT
0,0,2013-01-01 00:00:04,RESPIR,4,797.0,N,BRONX,B3,10472.0,N
1,1,2013-01-01 00:00:19,CARD,3,851.0,N,BRONX,B1,10454.0,N
2,2,2013-01-01 00:01:04,ARREST,1,429.0,N,QUEENS,Q3,11418.0,N
3,3,2013-01-01 00:01:16,SICK,6,828.0,N,BRONX,B2,10453.0,N
4,4,2013-01-01 00:01:26,INJURY,5,856.0,N,BRONX,B2,10457.0,N

In [5]:
del ems_df['Unnamed: 0']

In [6]:
ems_df = ems_df.drop(['HELD','DISPATCH_AREA','SPECIAL_EVENT'], axis=1)

In [7]:
# Drop all rows with missing information and remove unknown boroughs
ems_df = ems_df.dropna(how='any')
ems_df = ems_df[ems_df.BORO != 'UNKNOWN']

In [9]:
ems_df.loc[ems_df.BORO.isin(['RICHMOND / STATEN ISLAND']), 'BORO'] = 'STATEN ISLAND'
ems_df.head()

             DATE_TIME CALL_TYPE  SEVERITY  RESPONSE_TIME    BORO  ZIPCODE
0  2013-01-01 00:00:04    RESPIR         4          797.0   BRONX  10472.0
1  2013-01-01 00:00:19      CARD         3          851.0   BRONX  10454.0
2  2013-01-01 00:01:04    ARREST         1          429.0  QUEENS  11418.0
3  2013-01-01 00:01:16      SICK         6          828.0   BRONX  10453.0
4  2013-01-01 00:01:26    INJURY         5          856.0   BRONX  10457.0

In [57]:
import datetime
ems_df_5['Hour of Incident'] = ems_df_5['DATE_TIME'].dt.hour
ems_df_5['Weekday'] = ems_df_5['DATE_TIME'].dt.dayofweek
ems_df_5.head()

,DATE_TIME,CALL_TYPE,SEVERITY,RESPONSE_TIME,BORO,ZIPCODE,Hour of Incident,Weekday
0,2013-01-01 00:00:04,RESPIR,4,797.0,BRONX,10472.0,0,1
1,2013-01-01 00:00:19,CARD,3,851.0,BRONX,10454.0,0,1
2,2013-01-01 00:01:04,ARREST,1,429.0,QUEENS,11418.0,0,1
3,2013-01-01 00:01:16,SICK,6,828.0,BRONX,10453.0,0,1
4,2013-01-01 00:01:26,INJURY,5,856.0,BRONX,10457.0,0,1

In [58]:
ems_df_5.loc[ems_df_5['Weekday'] == 0, 'Weekday'] = 'Monday'
ems_df_5.loc[ems_df_5['Weekday'] == 1, 'Weekday'] = 'Tuesday'
ems_df_5.loc[ems_df_5['Weekday'] == 2, 'Weekday'] = 'Wednesday'
ems_df_5.loc[ems_df_5['Weekday'] == 3, 'Weekday'] = 'Thursday'
ems_df_5.loc[ems_df_5['Weekday'] == 4, 'Weekday'] = 'Friday'
ems_df_5.loc[ems_df_5['Weekday'] == 5, 'Weekday'] = 'Saturday'
ems_df_5.loc[ems_df_5['Weekday'] == 6, 'Weekday'] = 'Sunday'
ems_df_5.head()

,DATE_TIME,CALL_TYPE,SEVERITY,RESPONSE_TIME,BORO,ZIPCODE,Hour of Incident,Weekday
0,2013-01-01 00:00:04,RESPIR,4,797.0,BRONX,10472.0,0,Tuesday
1,2013-01-01 00:00:19,CARD,3,851.0,BRONX,10454.0,0,Tuesday
2,2013-01-01 00:01:04,ARREST,1,429.0,QUEENS,11418.0,0,Tuesday
3,2013-01-01 00:01:16,SICK,6,828.0,BRONX,10453.0,0,Tuesday
4,2013-01-01 00:01:26,INJURY,5,856.0,BRONX,10457.0,0,Tuesday

In [59]:
# MACHINE LEARNING
call_type = ems_df_5['CALL_TYPE']
severity = ems_df_5['SEVERITY']
borough = ems_df_5['BORO']
incident_hour = ems_df_5['Hour of Incident']
weekday = ems_df_5['Weekday']
response_time = ems_df_5['RESPONSE_TIME']

In [60]:
df_ml = pd.DataFrame({#'Call_Type': call_type,
                    'Severity': severity,
                    'Borough': borough,
                    'Hour_of_Incident': incident_hour,
                    'Weekday': weekday,
                    'Response_Time': response_time})
df_ml.head()

   Severity Borough  Hour_of_Incident  Weekday  Response_Time
0         4   BRONX                 0  Tuesday          797.0
1         3   BRONX                 0  Tuesday          851.0
2         1  QUEENS                 0  Tuesday          429.0
3         6   BRONX                 0  Tuesday          828.0
4         5   BRONX                 0  Tuesday          856.0

In [61]:
df_ml.to_csv('EMS_ML.csv')